<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p class="font-bold">El pequeño Eko</p>
  <p>
    Este sutra es una dedicación, para que todos los seres sintientes podamos
    despertar a la Vía de Buda. El Fueko se suele recitar después de Zazen, en
    la breve ceremonia de la tarde noche, cuando se cierra el día.
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">Fueko</h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>Negawaku wa kono kudoku wo motte,</p>
        <p>amaneku issai ni oyoboshi,</p>
        <p>warera to shujô to mina tomoni</p>
        <p>butsudô wo jô zen koto wo.</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>Que los méritos de recitar estos sutras</p>
        <p>Penetren en todos los seres y en todos los lugares</p>
        <p>A fin de que todos nosotros, los seres sintientes,</p>
        <p>Podamos realizar juntos la vía de Buda.</p>
      </div>
    </div>
  </div>
</div>
