<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p class="font-bold">El Sutra de las comidas</p>
  <p>
    En la práctica Zen, las comidas se viven ceremoniosamente, ya que están
    dedicadas al sufrimineto de todos los seres. A través de éste sutra, que se
    recita en diferentes intervalos durante la comida, exprezamos nuestra
    gratitud hacia todos los seres que participaron en la comida que tenemos
    frente a nosotros(as). También nos ayuda a ir más allá de la codicia, al ser
    concientes de que el alimento que tenemos nos ayuda a mantenernos saludables
    para poder realizar nuestra práctica. En otras palabrasa, nos ayuda a
    mantener una mente focalizada en el despertar. También ofrecemos el alimento
    que recibimos para hacer el bien a todos los seres sintientes.
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">
        Gyohatsû nenju
      </h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>Bus shô kapira</p>
        <p>Jo do makada</p>
        <p>Sep pô harana</p>
        <p>Nyu metsu kuchira</p>
        <p>Nyorai o ryôki</p>
        <p>Gakon toku futen</p>
        <p>Gangu is-sai shû</p>
        <p>To san rin ku ja ku.</p>

        <p>Shin jin pashin birû sha no fu</p>
        <p>En mon ho shin rushâ no fu</p>
        <p>Sen pai kashin shikyâ mu ni fu</p>
        <p>To rai asan mirû son bu</p>
        <p>Ji ho san shi ishî shi fu</p>
        <p>Dai jin myo harin ga kin</p>
        <p>Dai shin bun jusu ri bu sa</p>
        <p>Dai jin fuen bu sa</p>
        <p>Dai hi kan shiin bu sa</p>
        <p>Shi son bûbu sa mo ko sa</p>
        <p>Mo ko hôja ho ro mi.</p>

        <p>Hitotsu ni wa kô no tashô o hakari kano raisho o hakaru.</p>
        <p>Futatsu ni wa, onore ga tokugyô no zen ketto wo hakatte kuni ôzu.</p>
        <p>
          Mitsu ni wa shin o fusegi toga o hanaruru ko towa tontô o shû to su.
        </p>
        <p>
          Yotsu ni wa, masani ryôyaku o koto to suru wa gyôko o ryôzen ga tame
          nari.
        </p>
        <p>Itsutsu ni wa jôdô no tame no yue niima kono jiki o uku.</p>

        <p>Jiten kijinshu,</p>
        <p>Gokin suji kyu</p>
        <p>Suji hen jihô</p>
        <p>Ishi ki jin kyu.</p>

        <p>Jo bun san bo,</p>
        <p>Chu bun shion.</p>
        <p>Gekyû roku do,</p>
        <p>Kai do kuyô.</p>

        <p>Ik-ku idan is-sai aku</p>
        <p>Niku ishu is-sai zen</p>
        <p>Sanku ido shoshu jo</p>
        <p>Kaigu jo butsu do.</p>

        <p>Gashi sen pas-sui,</p>
        <p>Nyo ten kan ro mi,</p>
        <p>Seyo kijin shû</p>
        <p>Shitsu ryo tokubo man</p>
        <p>On makura sai sowaka.</p>

        <p>Shi shi kai jiki kun,</p>
        <p>Jiren kafu jashî,</p>
        <p>Shin shin jin cho ihi,</p>
        <p>Kishu rinbu jo son.</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>Buda nació en Kapila.</p>
        <p>Tuvo el satori en Nagada.</p>
        <p>Enseñó en Harana.</p>
        <p>Entró en el nirvana en Kuchira.</p>
        <p>Los cuencos del Tathagatha (el Perfecto), ahora los abrimos.</p>
        <p>Que podamos, junto a todos los seres,</p>
        <p>alcanzar el nirvana y despojarnos de las tres manchas.</p>

        <p>La pureza universal del Buda Vairocana.</p>
        <p>La forma universal del Buda Vairocana.</p>
        <p>Todos los fenómenos son Buda.</p>
        <p>El Buda Maitreya que nacerá en el futuro.</p>
        <p>
          Todos los Budas pasados, presentes y futuros en las diez direcciones.
        </p>
        <p>El dharma y la comunidad de los monjes.</p>
        <p>El Gran Bodhisattva de la Sabiduría, Manyusri.</p>
        <p>El Gran y Perfecto Bodhisattva Samantabhadra.</p>
        <p>Avalokitesvara, el Bodhisattva del amor universal.</p>
        <p>Todos los Bodhisattva y los Patriarcas.</p>
        <p>El Sutra de la Sabiduría que va más allá.</p>

        <p>Mi reconocimiento va a todos los seres</p>
        <p>que contribuyeron a darme este alimento.</p>
        <p>Recibo este don de alimento considerando mis imperfecciones.</p>
        <p>Detener la cólera y los deseos es la verdadera religión.</p>
        <p>
          Este alimento debe tomarse como un medicamento para la salud del
          cuerpo.
        </p>
        <p>Tomo este alimento para perfeccionarme en la Vía.</p>

        <p>
          A ustedes, todos los muertos y todas las existencias animales (pretas)
        </p>
        <p>Ahora les ofrezco este alimento</p>
        <p>Que se expanda en todo el universo</p>
        <p>Espero comer con ustedes</p>

        <p>Para el Buda, para el Dharma y para la Sangha</p>
        <p>Para la sociedad y la humanidad entera</p>
        <p>Para los inocentes y aquellos que no pueden ayudarse a sí mismos</p>
        <p>Para todas las existencias del universo,</p>
        <p>que este alimento se ofrezca y se coma</p>
        <p>La primera cucharada es para cortar el mal</p>
        <p>La segunda es para practicar el bien</p>
        <p>La tercera para ayudar a todos los seres</p>
        <p>Juntos seguiremos la Vía de Buda</p>

        <p>Lavo este cuenco con agua</p>
        <p>Sabe a néctar celeste</p>
        <p>Se la ofrezco a todos los muertos</p>
        <p>Que les sirva de alimento</p>
        <p>Que les quite la sed como el rocío de la mañana.</p>
      </div>
    </div>
  </div>
</div>
