<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p class="font-bold">El Sutra de la Gran Compasión</p>
  <p>
    Kan: observar profundamente. Ze: el mundo, la vida, los fenómenos. On: el
    sonido, la voz. Kanzeon es entonces "aquel que observa profundamente el
    sonido del mundo". O dicho en otras palabras, "aquel que puede ver el
    sufrimiento de los seres sintientes, que comprende la raíz profunda de éste
    sufrimiento, y que se dedica a salvar a todos los seres que sufren".
  </p>
  <p>
    Este sutra es un extracto de las enseñanzas del maestro Zen Hakuin, una de
    las figuras más influyentes del Budismo Zen japonés.
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">Kannon Gyo</h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>Kan Ze On</p>
        <p>Na Mu Butsu</p>
        <p>Yo Butsu U In</p>
        <p>Yo Butsu U En</p>
        <p>Bu Po So En</p>
        <p>Jo Raku Ga Jo</p>
        <p>Cho Nen Kan Ze On</p>
        <p>Bonen Kan Ze On</p>
        <p>Nen Nen Ju Shin Ki</p>
        <p>Nen Nen Fu Ri Shin</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>Kanzeon! Saludo y devoción a Buda</p>
        <p>Somos uno con Buda</p>
        <p>En causa y efecto relacionado con todos los Budas</p>
        <p>Y con Buda, Dharma y Sangha</p>
        <p>Nuestra verdadera naturaleza es…</p>
        <p>Eterna, Alegre, Desinteresada y Pura</p>
        <p>Recordemos Kanzeon cada mañana, con Nen! (atención)</p>
        <p>Recordemos Kanzeon cada tarde, con Nen! (atención)</p>
        <p>Nen, Nen surge de la mente</p>
        <p>Nen, Nen no está separado de la mente.</p>
      </div>
    </div>
  </div>
</div>
