<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p>
    El <span class="font-bold">Sutra del Corazón</span> es uno de los más
    importantes dentro del Budismo Mahayana. Su nombre es "Sutra Prajna
    Paramita" en Sánscrito, o "Maka Hannya Haramita Shingyo" en japonés.
  </p>
  <p>
    Representa la esencia de las enseñanzas de Buda, resumidas originalmente en
    262 ideogramas chinos. Se suele recitar después de Zazen en variados lugares
    de práctica Zen.
  </p>
  <p>
    Este Sutra nos explica que cuando el Boddhisattva entiende que toda forma y
    fenómenos no son diferentes del vacío, entonces va a realizar la gran
    sabiduría. A través de su despertar, podrá ayudar a toda la existencia a
    liberarse del sufrimiento.
  </p>
  <h2 class="font-bold py-3">Etimología de Maka Hannya Haramita Shingyo</h2>
  <p>
    El término "Maka", la primera palabra que da fuerza al texto, significa "más
    allá de todo límite". Define también "lo que está en todo", "lo Grande", "el
    principio inherente de todas las cosas". Es lo invisible sin forma.
  </p>
  <p>
    El segundo término, "Hannya", es la transliteración de Prajna (sánscrito).
    Se refiere a la sabiduría. Es la verdadera sabiduría nace a partir de la
    nada, es decir, que surge del entendimiento de la vacuidad. Es una sabiduría
    que no se fija en ninguna parte. Es la esencia de Zazen, la meditación
    sentada, que es una práctica que no busca un objetivo. Nos sentamos
    simplemente por sentarnos, contemplando todo lo que ocurre en éste instante.
  </p>
  <p>
    El tercer término, "Haramita", significa "el más allá, lo ideal, lo último,
    la totalidad plena". Es la práctica del Bodhisattva, las seis prácticas o
    perfecciones (paramita) que le permiten ir más allá de la insatisfacción o
    sufrimiento, alcanzando la otra orilla del despertar.
  </p>
  <p>
    Por último, el término "Shin" es "la esencia, el corazón", y el término
    "Gyo" significa "Sutra", que también se puede traducir como "cuerda o hilo",
    o como "la vía".
  </p>
  <p>
    Por ello, el Sutra del Corazón se puede traducir como el "Sutra del corazón
    de la Gran Sabiduría que nos permite ir más allá".
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">
        Maka Hannya Haramita Shingyo
      </h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>
          Kan ji zai bo satsu. Gyo jin han-nya ha ra mi ta ji. Sho ken go on kai
          ku. Do is-sai ku yaku. Sha ri shi. Shiki fu i ku. Ku fu i shiki. Shiki
          soku ze ku. Ku soku ze shiki. Ju so gyo shiki. Yaku bu nyo ze. Shari
          shi. Ze sho ho ku so. Fu sho fu metsu. Fu ku fu jo. Fu zo fu gen. Ze
          ko ku chu. Mu shiki mu ju so gyo shiki. Mu gen ni bi ze-shin ni. Mu
          shiki sho ko mi soku ho. Mu gen kai nai shi mu i shiki kai. Mu mu myo
          yaku mu mu myo jin. Nai shi mu ro shi. Yaku mu ro shi jin. Mu ku shu
          metsu do. Mu chi yaku mu toku. I mu sho toku ko. Bodai sat-ta. E han
          nya ha ra mi ta ko. Shin mu kei ge mu ke ge ko. Mu u ku fu. On ri
          is-sai ten do mu so.Ku gyo ne han. San ze sho butsu. E han-nya ha ra
          mi ta ko. Toku a noku ta ra san myaku san bo dai. Ko chi han-nya ha ra
          mi ta. Ze dai jin shu. Ze dai myo shu. Ze mu jo shu. Ze mu to do shu.
          No jo is-sai ku. Shin jitsu fu ko. Ko setsu han-nya hara mi ta shu.
          Soku setsu shu watsu.
        </p>
        <p>Gya tei gya tei hara gya tei.</p>
        <p>Hara so gya tei bo ji so wa ka.</p>
        <p>Han-nya shin gyo.</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>
          El Boddhisattva Avalokiteshvara, en profunda Prajna Paramita (gran
          sabiduría), comprendió el vacío de todas las cinco condiciones, y se
          libró del sufrimiento.
        </p>
        <p>
          Oh Shariputra, forma no es más que vacío, vacío no es más que forma;
          forma es precisamente vacío, vacío es precisamente forma. Sensaciones,
          percepciones, reacción y conciencia también son así.
        </p>
        <p>
          Oh Shariputra, todas las cosas son expresiones del vacío. No nacidas,
          no destruídas, no manchadas ni puras, no incrementan ni decaen. Por
          eso vacío no es forma ni sensación, ni percepción, reacción ni
          conciencia; ni ojo, oreja, nariz, lengua, cuerpo, mente; ni color,
          sonido, olor, sabor, tacto, cosa. Ni visión ni conciencia; ni
          ignorancia ni cese de la ignorancia; ni vejez ni muerte; ni cese de la
          vejez y la muerte; ni sufrimiento, ni causa o fin del sufrimiento; ni
          camino, ni sabiduría ni logro. No logro - así los Boddhisattvas viven
          la Prajna Paramita (gran sabiduría) sin obstáculos en la mente. Sin
          obstáculos, por tanto sin miedo. Más allá de todo engaño, el Nirvana
          está aquí.
        </p>
        <p>
          Todos los Budas del pasado, presente y futuro viven la Prajna Paramita
          (gran sabiduría) y alcanzan la suprema, perfecta iluminación (o
          despertar).
        </p>
        <p>
          Por eso recuerda que el Prajna Paramita es el sagrado mantra, el
          luminoso mantra, el supremo mantra, el incomparable mantra, con el
          cual todo el sufrimiento es eliminado. Esta es la verdad.
        </p>
        <p>
          Por eso repite el Prajna Paramita mantra, repite éste mantra y
          proclama:
        </p>
        <p>
          Gate Gate Paragate Parasamgate Bodhi Svaha. Gya tei gya tei hara gya
          tei. Hara so gya tei bo ji so wa ka. Ir. Ir más allá. A la otra
          orilla. ¡Liberación! ¡Gozo!
        </p>
        <p>¡La vía de la Gran Sabiduría!</p>
      </div>
    </div>
  </div>
</div>
