<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="max-w-2xl">
    <div class="py-12 max-w-xl space-y-12">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl">
        Makka Hannya Haramita Shingyo
      </h2>
      <div class="space-y-2 text-gray-600">
        <p>Kanjizai bosatsu gyo jin hannya haramita ji</p>
        <p>Shoken go on kai ku do issai ku yaku</p>
        <p>Sharishi shiki fu i ku ku fu i shiki</p>
        <p>Shiki soku ze ku ku soku ze shiki</p>
        <p>Ju so gyo shiki yaku bu nyo ze</p>
        <p>Sharishi ze shoho ku so fu sho fu metsu fu ku fu jo fu zo fu gen</p>
        <p>Ze ko ku chu mu shiki mu ju so gyo shiki</p>
        <p>Mu gen ni bi zesshin i mu shiki sho ko mi soku ho</p>
        <p>Mu genkai nai shi mu ishiki kai</p>
        <p>Mu mumyo yaku mu mumyo jin nai shi mu roshi yaku mu roshi jin</p>
        <p>Mu ku shu metsudo mu chi yaku mu toku i mu sho tokko</p>
        <p>Bodaisatta e hannya haramita ko</p>
        <p>Shin mu keige mu keige ko mu u ku fu onri issai tendo mushu tokko</p>
        <p>Nehan</p>
        <p>
          Sanzaishobutsu e hannya haramita ko toku a noku ta ra san myaku san
          bodai
        </p>
        <p>
          Ko chi hannya haramita ze dai jinshu ze dai myoshu ze mujo shu ze muto
          toshu
        </p>
        <p>No jo issai ku shin jitsu fu ko</p>
        <p>Ko setsu hannya haramita shu soku setsu shuwatsu</p>
        <p>Gyate gyate hara gyate hara so gyate bodhi sowaka</p>
        <p>Hannya shingyo</p>
      </div>
    </div>
  </div>
</div>
