<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p class="font-bold">Los cuatro grandes votos del Boddhisattva</p>
  <p>
    Este breve sutra representa el ideal del Boddhisattva, que se resume en
    cuatro votos fundamentales. Se suelen recitar al final de la práctica de
    Zazen, y luego del Sutra del Corazón (Maka Hannya Haramita Shingyo). Nos
    ayuda a recordar el espíritu de lo que significa ser un Boddhisattva.
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">
        Shigu Seigan Mon
      </h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>Shu Jo Muhen Seigando</p>
        <p>Bonno Mujin Seigandan</p>
        <p>Homon Muryo Seigangaku</p>
        <p>Butsu Do Mujo Seiganjo</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>
          Por numerosos que sean los seres sensibles, hago el voto de salvarlos
          a todos.
        </p>
        <p>
          Por numerosas que sean las pasiones, hago el voto de vencerlas todas.
        </p>
        <p>
          Por numerosos que sean los dharmas (enseñanzas), hago el voto de
          adquirirlos todos.
        </p>
        <p>Por perfecta que sea la Vía del Buda, hago el voto de realizarla.</p>
      </div>
    </div>
  </div>
</div>
