<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="max-w-2xl">
    <div class="py-12 max-w-xl space-y-12">
      <h2 class="text-2xl font-bold tracking-tight sm:text-3xl">
        Sutra del Corazón
      </h2>
      <div class="space-y-2 text-gray-600">
        <p>
          El Bodhisattva Avalokiteshvara, mientras practicaba profundamente la
          perfección de la sabiduría, vio claramente que los cinco agregados son
          vacíos y, de este modo, se liberó de todo sufrimiento.
        </p>
        <p>
          Shariputra, la forma no es diferente del vacío, el vacío no es
          diferente de la forma; la forma es vacío, el vacío es forma. Lo mismo
          ocurre con las sensaciones, percepciones, formaciones mentales y la
          conciencia.
        </p>
        <p>
          Shariputra, todos los fenómenos están marcados por el vacío; no nacen
          ni perecen, no son puros ni impuros, no aumentan ni disminuyen.
        </p>
        <p>
          Por lo tanto, en el vacío no hay forma, ni sensación, ni percepción,
          ni formación mental, ni conciencia; no hay ojo, oído, nariz, lengua,
          cuerpo o mente; no hay forma, sonido, olor, sabor, tacto u objetos
          mentales; no hay elemento de los ojos ni elemento de la conciencia
          mental; no hay ignorancia ni fin de la ignorancia, y así
          sucesivamente, hasta que no hay vejez ni muerte, ni extinción de la
          vejez y la muerte; no hay sufrimiento, ni origen del sufrimiento, ni
          cesación del sufrimiento, ni camino; no hay sabiduría ni obtención, y
          no hay obtención.
        </p>
        <p>
          Debido a que los Bodhisattvas no tienen obtención, se apoyan en la
          perfección de la sabiduría, y sus mentes no tienen obstáculos. Al no
          tener obstáculos, no tienen miedo; lejos de la confusión, alcanzan el
          Nirvana.
        </p>
        <p>
          Todos los Budas del pasado, presente y futuro, al apoyarse en la
          perfección de la sabiduría, alcanzan la iluminación completa,
          insuperable y perfecta.
        </p>
        <p>
          Por lo tanto, el mantra de la perfección de la sabiduría es el gran
          mantra, el mantra luminoso, el mantra insuperable, el mantra
          incomparable que disipa todo sufrimiento, verdadero y sin engaño.
        </p>
        <p>Así, el mantra de la perfección de la sabiduría se proclama:</p>
        <p>Gate Gate Paragate Parasamgate Bodhi Svaha</p>
      </div>
    </div>
  </div>
</div>
