<div class="space-y-2 text-gray-600 text-justify mt-10">
  <p>
    El <span class="font-bold">Sutra del Kesa</span>, o "Takkesa Ge" en japonés,
    se recita como una forma de venerar al Kesa, que es la vestimenta de Buda.
    Las representaciones de éste traje son los mantos de los monjes, los cuales
    llamamos "Kesa", y las versiones más pequeñas que se conocen como "Rakusu".
  </p>
  <p>
    Antes de que un monje vaya a colocarse su Kesa, se suele recitar éste sutra
    por lo menos una vez, de forma silenciosa. Y durante los Sesshines (retiros
    de meditación Zen) éste sutra se recita por todos(as), estando aún
    sentados(as), al finalizar el Zazen de la mañana.
  </p>
</div>
<div class="flex flex-col md:flex-row md:gap-x-3">
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">Takkesa Ge</h2>
      <div
        class="h-full space-y-2 text-gray-600 text-justify bg-zinc-100 p-4 rounded-xl"
      >
        <p>Dai Sai Gedda Pu Ku</p>
        <p>Muso Fukuden Ie</p>
        <p>Hibu Nyorai Kyo</p>
        <p>Kodo Sho Shu Jo</p>
      </div>
    </div>
  </div>
  <div class="w-full flex-1 md:w-1/2">
    <div class="h-full mx-auto max-w-2xl py-12 space-y-12 lg:max-w-5xl">
      <h2 class="text-xl font-bold tracking-tight sm:text-2xl">En español</h2>
      <div class="h-full space-y-2 text-gray-600 bg-zinc-100 p-4 rounded-xl">
        <p>Oh, vestimenta de la gran liberación,</p>
        <p>Kesa del campo de la felicidad sin límites,</p>
        <p>Recibo con fe la enseñanza del Buda,</p>
        <p>Para ayudar a todos los seres sintientes.</p>
      </div>
    </div>
  </div>
</div>
