<ul
  class="bg-white/90 py-2 px-4 space-y-2 text-sm font-medium text-zinc-800 drop-shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur md:px-3 md:py-0 md:space-y-0 md:flex md:rounded-full"
>
  <!-- <li>
    <a
      class="block px-4 py-2 hover:text-orange-900 md:min-w-max md:px-3 md:relative md:transition"
      href="#activities"
    >
      Próximas Actividades {% include navigation/selected.html %}
    </a>
  </li> -->
  <li>
    <a
      class="block px-4 py-2 hover:text-orange-900 md:min-w-max md:px-3 md:relative md:transition"
      href="#schedule"
    >
      Horarios de práctica {% include navigation/selected.html %}
    </a>
  </li>
  <li>
    <a
      class="block px-4 py-2 hover:text-orange-900 md:min-w-max md:px-3 md:relative md:transition"
      href="#location"
    >
      Ubicación {% include navigation/selected.html %}
    </a>
  </li>
  <li>
    <a
      class="block px-4 py-2 hover:text-orange-900 md:min-w-max md:px-3 md:relative md:transition"
      href="/sutras"
    >
      Sutras {% include navigation/selected.html %}
    </a>
  </li>
</ul>

<script>
  var navigationMenu = document.getElementById("main-navigation");

  var links = navigationMenu.querySelectorAll("a");

  links.forEach(function (link) {
    if (link.getAttribute("href") === "/sutras") return;

    link.addEventListener("click", function (event) {
      event.preventDefault();

      links.forEach(function (link) {
        link.classList.remove("text-orange-900");
        link.querySelector("span").classList.add("hidden");
      });

      this.classList.add("text-orange-900");
      this.querySelector("span").classList.remove("hidden");

      var targetId = this.getAttribute("href");
      var targetElement = document.querySelector(targetId);

      targetElement.scrollIntoView({
        behavior: "smooth",
      });
    });
  });

  window.addEventListener("DOMContentLoaded", function () {
    var currentAnchor = window.location.hash;
    var activeLink = document.querySelector('a[href="' + currentAnchor + '"]');
    if (activeLink) {
      activeLink.classList.add("text-orange-900");
      activeLink.querySelector("span").classList.remove("hidden");
    }
  });

  function toggleMobileNavigation() {
    var mobileNavigation = document.getElementById("main-navigation");
    mobileNavigation.classList.toggle("hidden");
  }
</script>
