<footer class="flex-none">
  <div class="sm:px-8">
    <div class="mx-auto w-full max-w-7xl lg:px-8">
      <div class="border-t border-zinc-100 pb-16 pt-10">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div
              class="flex flex-col items-center justify-between gap-12 sm:flex-row"
            >
              <div
                class="flex flex-wrap justify-center gap-x-6 gap-y-3 md:gap-y-1 text-sm text-zinc-800 font-medium"
              >
                <a
                  class="group flex text-sm font-medium transition space-x-4 hover:text-orange-900"
                  href="mailto:zendochudo@gmail.com"
                >
                  <svg
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-orange-900"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M6 5a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h12a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H6Zm.245 2.187a.75.75 0 0 0-.99 1.126l6.25 5.5a.75.75 0 0 0 .99 0l6.25-5.5a.75.75 0 0 0-.99-1.126L12 12.251 6.245 7.187Z"
                    ></path>
                  </svg>
                  <span>zendochudo@gmail.com</span>
                </a>
                <a
                  class="group flex text-sm font-medium transition space-x-4 hover:text-orange-900"
                  href="tel:+569 6965 6617"
                >
                  <svg
                    viewBox="0 0 24 24"
                    aria-hidden="true"
                    class="h-6 w-6 flex-none fill-zinc-500 transition group-hover:fill-orange-900"
                  >
                    <path
                      d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.064 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"
                    />
                  </svg>
                  <span>+569 6965 6617</span>
                </a>
              </div>
              <p class="text-sm text-zinc-400">
                {{ site.time | date: '%Y' }} {{ site.title }}.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
