<header
  class="pointer-events-none relative z-50 flex flex-none flex-col"
  style="height: var(--header-height); margin-bottom: var(--header-mb)"
>
  <div class="top-0 z-10 h-16 pt-6" style="position: var(--header-position)">
    <div
      class="sm:px-8 top-[var(--header-top,theme(spacing.6))] w-full"
      style="position: var(--header-inner-position)"
    >
      <div class="mx-auto w-full max-w-7xl lg:px-8">
        <div class="relative px-4 sm:px-8 lg:px-12">
          <div class="mx-auto max-w-2xl lg:max-w-5xl">
            <div class="relative flex gap-4">
              <div class="flex flex-1">
                <div
                  class="h-14 w-14 rounded-full bg-white/90 p-0.5 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur"
                >
                  <a aria-label="Home" class="pointer-events-auto" href="/"
                    ><img
                      alt=""
                      fetchpriority="high"
                      width="512"
                      height="512"
                      decoding="async"
                      data-nimg="1"
                      class="rounded-full bg-zinc-100 object-cover"
                      src="{{ '/assets/images/logo.jpg' | relative_url }}"
                      style="color: transparent"
                  /></a>
                </div>
              </div>
              <div class="flex flex-1 justify-end md:justify-center">
                <div class="pointer-events-auto" data-headlessui-state="">
                  <div class="relative">
                    <button
                      class="group flex items-center rounded-full bg-white/90 px-4 py-2 text-sm font-medium text-zinc-800 shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur md:hidden"
                      type="button"
                      aria-expanded="false"
                      data-headlessui-state=""
                      id="headlessui-popover-button-:R2miqla:"
                      onclick="toggleMobileNavigation()"
                    >
                      Menu<svg
                        viewBox="0 0 8 6"
                        aria-hidden="true"
                        class="ml-3 h-auto w-2 stroke-zinc-500 group-hover:stroke-zinc-700"
                      >
                        <path
                          d="M1.75 1.75 4 4.25l2.25-2.5"
                          fill="none"
                          stroke-width="1.5"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        ></path>
                      </svg>
                    </button>

                    <nav
                      id="main-navigation"
                      class="absolute hidden right-0 mt-3 w-48 md:pointer-events-auto md:block md:relative md:w-auto md:mt-0 md:right-auto"
                    >
                      {% include navigation/index.html %}
                    </nav>
                  </div>
                </div>
              </div>
              <div class="flex justify-end md:flex-1"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
