<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "LocalBusiness",
    "name": "Zendo Chūdō",
    "description": "Centro de práctica Zen en Santiago de Chile. Practicamos Zazen presencial y online. Práctica dirigida por el monje Zen Oryù Korin.",
    "url": "https://zendochudo.cl",
    "telephone": "+569-6965-6617",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "La Reina",
      "addressRegion": "Región Metropolitana",
      "addressCountry": "CL"
    },
    "openingHours": "Tu,Th 19:30-20:20",
    "priceRange": "Free",
    "paymentAccepted": "Free",
    "sameAs": [
      "https://web.facebook.com/zendochudo",
      "https://www.instagram.com/zendochudo"
    ],
    "serviceType": "Meditación Zen",
    "areaServed": "Santiago de Chile"
  }
</script>
