<nav id="sutras-navigation" class="mt-10">
  <ul
    class="flex flex-wrap text-sm font-medium text-center text-gray-600 border-b border-gray-300"
  >
    <li class="me-1">
      <a
        href="#maka-hannya"
        class="inline-block p-4 rounded-t-lg bg-gray-400 text-gray-200"
      >
        Maka Hannya
      </a>
    </li>
    <li class="me-1">
      <a
        href="#shigu-seigan-mon"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-300"
      >
        Shigu Seigan Mon
      </a>
    </li>
    <li class="me-1">
      <a
        href="#kannon-gyo"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-300"
      >
        Kannon Gyo
      </a>
    </li>
    <li class="me-1">
      <a href="#fueko" class="inline-block p-4 rounded-t-lg hover:bg-gray-300">
        Fueko
      </a>
    </li>
    <li class="me-1">
      <a
        href="#ji_ho_san_shi"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-300"
      >
        Ji ho san shi
      </a>
    </li>
    <li class="me-1">
      <a
        href="#takkesa_ge"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-300"
      >
        Takkesa Ge
      </a>
    </li>
    <li class="me-1">
      <a
        href="#gyohatsu_nenju"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-300"
      >
        Gyohatsu Nenju
      </a>
    </li>
  </ul>
</nav>

<script>
  var sutrasMenu = document.getElementById("sutras-navigation");
  var links = sutrasMenu.querySelectorAll("a");

  links.forEach(function (link) {
    link.addEventListener("click", function (event) {
      event.preventDefault();

      links.forEach(function (link) {
        link.classList.remove("bg-gray-400", "text-gray-200");
        link.classList.add("hover:bg-gray-300");
        var linkId = link.getAttribute("href");
        var linkDiv = document.querySelector(linkId);
        linkDiv.classList.add("hidden");
      });

      this.classList.add("bg-gray-400", "text-gray-200");
      this.classList.remove("hover:bg-gray-300");
      var targetId = this.getAttribute("href");
      var targetElement = document.querySelector(targetId);
      targetElement.classList.remove("hidden");
    });
  });

  document.addEventListener("DOMContentLoaded", function () {
    var targetId = window.location.hash;
    var activeLink = document.querySelector('a[href="' + targetId + '"]');
    if (activeLink) {
      activeLink.classList.add("bg-gray-400", "text-gray-200");
    }
  });
</script>
