<div class="max-w-full mx-auto rounded-lg overflow-hidden">
  <div class="py-4 space-y-12 text-zinc-200">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
      Próximas actividades
    </h2>
    <div class="mx-auto space-y-5">
      {% for activity in activities %}
      <div class="flex flex-col md:flex-row md:justify-between">
        <div class="space-y-3 md:mb-0">
          <h3 class="text-lg font-bold">
            {{ activity.emoji }} {{ activity.title }}
          </h3>
          {% if activity.time %}
          <div class="text-zinc-300 space-y-2">
            <p class="font-medium">{{ activity.time }}</p>
            {% if activity.notes %}
            <p class="text-xs italic">{{ activity.notes }}</p>
            {% endif %}
          </div>
          {% endif %}
        </div>
        <p class="text-lg font-medium">{{ activity.days }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
