<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="py-12 text-gray-800">
    <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
      ¿Dónde encontrarnos?
    </h2>
    <div class="mx-auto py-12 lg:py-16">
      <div class="grid grid-cols-1 gap-8">
        <div
          class="flex flex-col space-x-0 space-y-2 sm:flex-row sm:space-x-1 sm:space-y-0"
        >
          <div class="text-gray-600">
            Joaquín Godoy 135, La Reina, Santiago de Chile
          </div>
          <div class="text-gray-500 text-sm">🚇 Metro Plaza Egaña</div>
        </div>
        <div class="rounded-lg overflow-hidden">
          <iframe
            src="https://maps.google.com/maps?hl=es&amp;q=Joaquin%20Godoy%20135,%20La%20Reina&amp;output=embed"
            width="100%"
            height="480"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
