<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="py-12 max-w-2xl md:py-0">
    <div class="max-w-xl space-y-12 text-zinc-200">
      <h2 class="text-3xl font-bold tracking-tight md:text-4xl">
        Ryúnan Bustamante Zenji
      </h2>
      <div class="space-y-3">
        <p>
          Es monje Soto Zen. Proveniente de la línea del maestro Taisen
          Deshimaru, recibió los Preceptos del Dharma el 8 de septiembre de 1985
          en el Templo de la Gendronniérè (Francia).
        </p>

        <p>
          Fue miembro activo de la Associatión Zen Internationale durante varios
          años. Abrió en Buenos Aires el primer Dojo Zen de la Argentina.
        </p>

        <p>
          Abandona la institución en 1990 y, dos años más tarde, funda la Ermita
          de Paja, un centro independiente destinado a la práctica pura de
          zazen. (Shikantaza) En 1995 conoce, en el Templo BUKKOKUJI (Japón), al
          Maestro Roshi Sama Tangen Harada. Desde entonces mantiene con él un
          estrecho contacto, visitándolo en diversas oportunidades y siguiendo
          sus enseñanzas.
        </p>

        <p>
          Actualmente continúa ejerciendo la dirección espiritual de la Ermita
          de Paja, como así también, brindando conferencias y organizando
          sesshines tanto dentro como fuera del país.
        </p>

        {% comment %}
        <p>
          Es autor de los libros "De cara al muro" Presencia del zen. Editorial
          Lumen - 1995.
        </p>

        <p>
          "La eternidad del relámpago" (El zen instantáneo). Editorial Kier -
          2004.
        </p>

        <p>
          "¿Dónde estaba Dios? La fe ante las catástrofes naturales" en
          colaboración con varios autores - Editorial Lumen. Buenos Aires, 2006.
        </p>

        <p>"Vida Simple" Editorial Emecé - 2017</p>
        {% endcomment %}
      </div>
    </div>
  </div>
</div>
