<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="max-w-2xl">
    <div class="py-12 max-w-xl space-y-12 text-zinc-200">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">
        El {{ site.title }}
      </h2>
      <div class="space-y-5">
        <p>
          Centro de práctica Zen. A través de Zazen, y otras prácticas y
          actividades, buscamos cultivar una mayor atención y consciencia de
          nuestra vida cotidiana.
        </p>

        <p>
          Prácticas dirigidas por el monje Zen <strong>Mihailo Oryù</strong>.
        </p>

        <p>
          Siguiendo los lineamientos del maestro
          <strong>Ryúnan Bustamante Zenji</strong>, la práctica deviene fuerte y
          concentrada, actualizando y dando continuidad de ese modo, a la
          enseñanza legada por los grandes Maestros de la Transmisión.
        </p>
      </div>
    </div>
  </div>
</div>
