<div class="mx-auto max-w-2xl lg:max-w-5xl">
  <div class="max-w-2xl">
    <div class="py-12 max-w-xl space-y-5 text-gray-800">
      <h2 class="text-3xl font-bold tracking-tight sm:text-4xl">El Zendo</h2>
      <div class="space-y-3">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur
          dapibus tempor massa ac euismod. Nunc vulputate consectetur nunc, ut
          aliquam tellus consectetur sed. Duis interdum sodales neque ut
          tincidunt.
        </p>

        <p>
          Morbi a auctor arcu, eget placerat lectus. Cras commodo ligula justo,
          quis lacinia erat molestie nec. Aliquam faucibus, elit quis rutrum
          malesuada, mauris lectus dignissim enim, et iaculis quam urna et eros.
          Vestibulum quis ipsum quis purus dictum auctor.
        </p>
      </div>
    </div>
  </div>
</div>
